<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Isla</title>
        <style>
            body {
                background-color: #030303;
            }
            .btn {
                border-radius: 8px;
                padding: 15px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
            }

            .btn:hover {
                cursor: pointer;
            }

            .blurple {
                background-color: #5865F2;
                color: white;
            }

            .blurple:hover {
                background-color: #434db4;
                color: #b7b7b7;
            }
        </style>
    </head>
    <body>
        <h1>Isla</h1>
        <a class="btn blurple" id="login-link" href="https://discord.com/api/oauth2/authorize?client_id=1097520247579365448&redirect_uri=https%3A%2F%2Fisla.tentti.xyz%2Fapi%2Fdiscord%2Flogin&response_type=code&scope=identify%20guilds%20role_connections.write">Login with Discord</a>
    </body>
</html>